In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import os
import json
from time import gmtime, strftime, localtime
import glob
from sqlalchemy import create_engine
# import mysql.connector

In [2]:
base_cdc_url = 'https://wwwn.cdc.gov'

In [3]:
def get_table_links(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text)
    table = soup.find(lambda tag: tag.has_attr('id') and tag['id']=="GridView1")
    
# Lambda expression for all links that end with XPT
    link_list = table.findAll(lambda tag: tag.name=='a' and tag['href'].endswith(".XPT"))
    links_only = [link.get('href') for link in link_list]
    
    return links_only

# This gets all of the links for the multiple years of data listed in year_list in order to batch download files
def get_multi_year(data_type, base_url):
    datatype_dict = {'demographics':'Demographics', 'dietary':'Dietary',
                     'examination':'Examination', 'laboratory':'Laboratory', 
                     'questionnaire':'Questionnaire'}
    # Can add years as future years are added
    year_list = [1999, 2001, 2003, 2005, 2007, 2009, 2011, 2013, 2015]
    data_links = []
    for year in year_list:
        url = f"{base_url}/nchs/nhanes/search/datapage.aspx?Component={datatype_dict[data_type]}&CycleBeginYear={year}"
        temp_data_links = get_table_links(url)
        for data in temp_data_links:
            if data not in data_links:
                data_links.append(data)
                print(f"Added {data} from {year}")
        time.sleep(1)

    return data_links

# Can use the link of filename.htm on top of base_cdc_url for access to the codebook links. This will produce a dictionary of column names can replace
def get_column_labels(xpt_link_name, base_url):
    htm_filename = f'{xpt_link_name[:-3]}htm'
    r = requests.get(f'{base_url}{htm_filename}')
    soup = BeautifulSoup(r.text)
    # Codebook section of documentation
    # TODO -- take section or pdf htm pages
    codebook_links = soup.findAll('div', id='CodebookLinks')[0].findAll('a')
    
    dictionary = {link.string.split('-')[0].strip() : link.string.split('-')[1].strip() for link in codebook_links}
    return dictionary

# Batch download function based off of data_type ['demographics', 'examination', 'dietary', 'laboratory', 'questionnaire']
def download_data(data_type, link_list, base_url):
    cwd = os.getcwd()
    try:
        os.mkdir(data_type)
        print(f'Created {data_type} folder')
    except:
        print(f'{data_type} folder exists')
    for link in link_list:
        item_name = link.split('/')[-1]
        exists = os.path.isfile(f'{cwd}/{data_type}/{item_name}')
        if exists:
            print(f'{item_name} already exists')
        else:
            current_time = time.time()
            print(f'Downloading {item_name} at {strftime("%a, %d %b %Y %H:%M:%S", localtime())}')
            r = requests.get(base_url + link, allow_redirects=True)
            open(f'{cwd}/{data_type}/{item_name}', 'wb').write(r.content)
            time_elapsed = time.time() - current_time
            print(f'Downloaded {item_name} at {time_elapsed}s')

# Create a dictionary of filenames for database
def create_xpt_dict(data_type):
    original_file_names = {}
    group_file_names = []
    for file in glob.glob(f'{data_type}/*'):
        xpt_file = file.split('/')[1]
        if len(xpt_file.split('_'))== 1:
            original_file_names[xpt_file.split('.')[0]] = [xpt_file]
    for file in glob.glob(f'{data_type}/*'):
        xpt_file = file.split('/')[1]
        if len(xpt_file.split('_'))> 1:
            try:
                xpt_name = xpt_file.split('_')[0]
                original_file_names[f'{xpt_name}'].append(xpt_file)
            except KeyError as e:
                xpt_name = xpt_file.split('_')[0]
                original_file_names[f'{xpt_name}'] = [xpt_file]               
    return original_file_names
        
# Concat tables based on file names
def combine_tables(data_type, xpt_dict):
    temp_df_list = []
    cwd = os.getcwd()
    for keys, values in xpt_dict[data_type].items():
        for value in values:
            print(f'Trying {cwd}/{data_type}/{value}')
            temp_df_list.append(pd.read_sas(f'{cwd}/{data_type}/{value}'))
            print(f'{cwd}/{data_type}/{value} appended')
    return pd.concat(temp_df_list)
                  
# Error handling if downloading empty files
def grab_empty_files(data_type, base_url):
    empty_list = []
    cwd = os.getcwd()
    for file in glob.glob(f'{cwd}/{data_type}/*'):
        if os.stat(file).st_size == 0:
            empty_list.append(file)
            os.remove(file)
    if len(empty_list) == 0:
        print("There are no empty files in this folder")
    else:
        print(f"Now re-downloading {len(empty_list)} files")
        download_data(data_type, empty_list, base_url)

# demographic_links = get_multi_year('demographics', base_cdc_url)
# dietary_links = get_multi_year('dietary', base_cdc_url)
# examination_links = get_multi_year('examination', base_cdc_url)
# laboratory_links = get_multi_year('laboratory', base_cdc_url)
# questionnaire_links = get_multi_year('questionnaire', base_cdc_url)

# link_dictionary = {'demographics':demographic_links, 'dietary':dietary_links, 
#                    'examination':examination_links, 'laboratory':laboratory_links,
#                   'questionnaire':questionnaire_links}
# with open('xpt_link_dict.json', 'w') as f:
#     json.dump(link_dictionary, f)
    
# Create the xpt_file_dict json for individual table creation and anticipation of merged tabes
# xpt_file_dict = {}
# for keys in link_dictionary:
#     xpt_file_dict[keys] = create_xpt_dict(keys)
    
# with open('xpt_file_dict.json', 'w') as f:
#     json.dump(xpt_file_dict, f)
    

    
# # Download data - 
# download_data('demographics', xpt_link_dictionary['demographics'], base_cdc_url)
# download_data('dietary', xpt_link_dictionary['dietary'], base_cdc_url)
# download_data('examination', xpt_link_dictionary['examination'], base_cdc_url)
# download_data('laboratory', xpt_link_dictionary['laboratory'], base_cdc_url)
# download_data('questionnaire', xpt_link_dictionary['questionnaire'], base_cdc_url)


#Ensure DB max_allowed_packet is set to 1G, this funciton will send to a mysql database
def send_to_db(user,password,host,port,database, data_type, link_dict, file_dict):
    engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}', 
                           echo=False)
    
    cwd = os.getcwd()
    counter = 0
    db_name_dict = create_db_names(data_type, link_dict, file_dict)
    for file in glob.glob(f'{cwd}/{data_type}/*'):
        file_name = file.split('/')[-1]
        print(f"Creating dataframe from {file}")
        temp_df = pd.read_sas(file, encoding='ISO-8859-1')
        print(f'Sending to MySQL Server as {db_name_dict[file_name][1]}')
        try:
            temp_df.to_sql(name=f'{db_name_dict[file_name][1]}', con=engine, if_exists='fail', index=False)
            counter += 1
        except ValueError as e:
            print(file_name + "is present")
            print(e)
            
        print('Now cleaning up db')
        del temp_df
    print(f'Added {counter} databases')



#   This will create file names that append the start year last 2 digits ie. 99 for 1999 and prefix DIET, DEMO, LAB, EXAM, QUEST for the respective filename. It will use the base file name ie. DEMO from DEMO_H.XPT as the filename
def create_db_names(data_type, link_dict, file_dict):
    
#   Exludes a DEMO preview because single tables do not need DEMO_DEMO
    prefix_dict = {'demographics': '', 'dietary': 'DIET_', 'examination': 'EXAM_', 
                   'laboratory': 'LAB_', 'questionnaire': 'QUEST_'}
    
    temp_dict = {}
    
#   Create temp_dict[filename:['2digit year']]
    for link in xpt_link_dictionary[data_type]:
            temp_dict[link.split('/')[-1]] = [link.split('/')[-2][2:4]]
            
#   Add prefix and DB name to temp_dict[xpt_filename: ['2digit year', 'DB Name example DIET_DSBI_99']]
    for key, values in xpt_file_dictionary[data_type].items():
        for value in values:
            if len(value.split('_')) > 2:
                #If there are multiple for same  year in sequence for instance lipids second value
                temp_dict[value].append(f'{prefix_dict[data_type]}'+ value[:-6] + "_" + temp_dict[value][0])
            else:
                temp_dict[value].append(f'{prefix_dict[data_type]}'+ key + "_" + temp_dict[value][0])
    
    return temp_dict

#Setting UTF8 and latin1 encoding errors 
#DSII does not play nice with UTF and encoding errors row '\xC2\x92S MU...' for column 'DSDSUPP' at row 74590
#DSPI Incorrect string value: '\xC2\x92S MU...' for column 'DSDSUPP' at row 6913

# Send folder of files and links to feather dataframes
def send_to_feather(data_type, link_dict, file_dict):    
    cwd = os.getcwd()
    counter = 0
    feather_name_dict = create_db_names(data_type, link_dict, file_dict)
    for file in glob.glob(f'{cwd}/{data_type}/*'):
        file_name = file.split('/')[-1]
        print(f"Creating dataframe from {file}")
        temp_df = pd.read_sas(file)
        print(f'Sending to Feather as {feather_name_dict[file_name][1]}')
        try:
            temp_df.to_feather(f'{cwd}/{data_type}_feather/{feather_name_dict[file_name][1]}.feather')
            counter += 1
        except ValueError as e:
            print(file_name + "is present")
            print(e)    
        print('Now cleaning up dataframe')
        del temp_df
    print(f'Added {counter} feather dataframes')

In [ ]:
engine = create_engine('mysql+mysqlconnector://tom:password@localhost:3306/nhanes', echo=False)
send_to_db('tom', 'password', 'localhost','3306', 'nhanes', 'dietary', xpt_link_dictionary, xpt_file_dictionary)

In [4]:
xpt_link_dictionary = json.loads(open('xpt_link_dict.json').read())
xpt_file_dictionary = json.loads(open('xpt_file_dict.json').read())

In [3]:
df99 = pd.read_sas("demographics/DEMO.XPT")
df01 = pd.read_sas('demographics/DEMO_B.XPT')
df03 = pd.read_sas('demographics/DEMO_C.XPT')
df05 = pd.read_sas('demographics/DEMO_D.XPT')
df07 = pd.read_sas('demographics/DEMO_E.XPT')
df09 = pd.read_sas('demographics/DEMO_F.XPT')
df11 = pd.read_sas('demographics/DEMO_G.XPT')
df13 = pd.read_sas('demographics/DEMO_H.XPT')
df15 = pd.read_sas('demographics/DEMO_I.XPT')

# Concat all demographic tables without sorting columns
df99to15 = pd.concat([df99, df01, df03,df05,df07,df09,df11,df13,df15], sort=False)
# Removed WTIRE and WTMREP 52 columns x2, left with 66 columns
df99to15_cleaned = df99to15[df99to15.columns[~df99to15.columns.str.match('(WTIRE|WTMREP)')]]
df99to15_clean = df99to15_cleaned.set_index('SEQN')
df99to15_clean.to_csv('demographics_1999-2016.csv')

df99to15_clean.reset_index().to_feather('demographics_feather/demographics_1999-2016.feather')
send_to_feather('questionnaire', xpt_link_dictionary, xpt_file_dictionary)

In [99]:
# Lipid profile sas readings

hdl_07 = pd.read_sas('laboratory/HDL_E.XPT')
hdl_05 = pd.read_sas('laboratory/HDL_D.XPT')
hdl_09 = pd.read_sas('laboratory/HDL_F.XPT')
hdl_11 = pd.read_sas('laboratory/HDL_G.XPT')
hdl_13 = pd.read_sas('laboratory/HDL_H.XPT')
hdl_15 = pd.read_sas('laboratory/HDL_I.XPT')
ldl_07 = pd.read_sas('laboratory/TRIGLY_E.XPT')
ldl_99 = pd.read_sas('laboratory/LAB13AM.XPT')
ldl_01 = pd.read_sas('laboratory/L13AM_B.XPT')
ldl_03 = pd.read_sas('laboratory/L13AM_C.XPT')
ldl_09 = pd.read_sas('laboratory/TRIGLY_F.XPT')
ldl_11 = pd.read_sas('laboratory/TRIGLY_G.XPT')
ldl_13 = pd.read_sas('laboratory/TRIGLY_H.XPT')
ldl_05 = pd.read_sas('laboratory/TRIGLY_D.XPT')
total_07 = pd.read_sas('laboratory/TCHOL_E.XPT')
total_05 = pd.read_sas('laboratory/TCHOL_D.XPT')
total_09 = pd.read_sas('laboratory/TCHOL_F.XPT')
total_11 = pd.read_sas('laboratory/TCHOL_G.XPT')
total_13 = pd.read_sas('laboratory/TCHOL_H.XPT')
total_15 = pd.read_sas('laboratory/TCHOL_I.XPT')
total_99 = pd.read_sas("laboratory/LAB13.XPT")
total_01 = pd.read_sas("laboratory/L13_B.XPT")
total_03 = pd.read_sas("laboratory/L13_C.XPT")
apo_07 = pd.read_sas('laboratory/APOB_E.XPT')
apo_09 = pd.read_sas('laboratory/APOB_F.XPT')
apo_11 = pd.read_sas('laboratory/APOB_G.XPT')
apo_13 = pd.read_sas('laboratory/APOB_H.XPT')

- The issues that need to be resolved, the total chol datasets from 99-05 have total and HDL cholesterol in both, but the rest are separated out. This needs to be mitigated by separating the total and hdl into two separate dfs and then concatting all years, and then merging the two in order to get a complete set.

- For whatever reason, there is no LDL file on CDC site for 15

In [100]:
#Some years with various columns names, this is to standardize columns names
hdl_columns = {'LBDHDD':"LBDHDL", "LBDHDDSI":"LBDHDLSI"}
renamed_hdl_df = pd.concat([hdl_05, hdl_07, hdl_09, hdl_11, hdl_13, hdl_15], sort=False).rename(columns=hdl_columns)
total_03 = total_03.rename(columns={"LBXHDD":'LBDHDL', "LBDHDDSI":'LBDHDLSI'})
total_df = pd.concat([total_05, total_07, total_09, total_11, total_13, total_15], sort=False)

# First we need to separate the columns from the combined datasets into HDL specific and total chol specific dataframes, also separate the LDL from apo in 2005 dataframe
hdl99to03 = pd.concat([total_99, total_01, total_03], sort=False).loc[:, ['SEQN', 'LBDHDL', 'LBDHDLSI']]
total99to03 = pd.concat([total_99, total_01, total_03], sort=False).loc[:, ['SEQN', 'LBXTC', 'LBDTCSI']]
ldl_only_05 = ldl_05.iloc[:,:-2]
apo_05 = ldl_05.loc[:,['SEQN','WTSAF2YR','LBXAPB','LBDAPBSI']]

#Then we combine all of the years to create separated datasets in preparation of merging
hdl_complete_df = pd.concat([hdl99to03, renamed_hdl_df], sort=False)
total_complete_df = pd.concat([total_df, total99to03], sort=False)
ldl_complete_df = pd.concat([ldl_99, ldl_01, ldl_03, ldl_only_05, ldl_07, ldl_09, ldl_11, ldl_13], sort=False)
apo_complete_df = pd.concat([apo_05, apo_07,apo_09, apo_11, apo_13], sort=False)


lipid_complete_df = (hdl_complete_df
                     .merge(total_complete_df, on='SEQN', how='outer')
                     .merge(ldl_complete_df, on='SEQN', how='outer')
                     .merge(apo_complete_df, on=['SEQN','WTSAF2YR'], how='outer').sort_values('SEQN'))

In [11]:
lipid_complete_df.head()

,SEQN,LBDHDL,LBDHDLSI,LBXTC,LBDTCSI,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,LBXAPB,LBDAPBSI
0,2.0,54.0,1.39,215.0,5.56,60586.147294,33073.267573,128.0,1.45,136.0,3.52,NaN,NaN
1,3.0,30.0,0.78,129.0,3.34,121969.841152,52434.225472,202.0,2.28,58.0,1.50,NaN,NaN
2,5.0,42.0,1.08,279.0,7.21,234895.205650,98468.806492,347.0,3.92,168.0,4.34,NaN,NaN
3,6.0,61.0,1.57,153.0,3.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.0,105.0,2.73,245.0,6.34,57661.621988,32935.874064,62.0,0.70,127.0,3.28,NaN,NaN

In [2]:
# Read in CBC for all years 99 to 15
cbc_99 = pd.read_sas('laboratory/LAB25.XPT')
cbc_01 = pd.read_sas('laboratory/L25_B.XPT')
cbc_03 = pd.read_sas('laboratory/L25_C.XPT')
cbc_05 = pd.read_sas('laboratory/CBC_D.XPT')
cbc_07 = pd.read_sas('laboratory/CBC_E.XPT')
cbc_09 = pd.read_sas('laboratory/CBC_F.XPT')
cbc_11 = pd.read_sas('laboratory/CBC_G.XPT')
cbc_13 = pd.read_sas('laboratory/CBC_H.XPT')
cbc_15 = pd.read_sas('laboratory/CBC_I.XPT')

# Need to rename and remove two columns in year 15, LBXMCHSI is in pg not in g/dl which is what it used to be in LBXMC. LBXMCH is now a new column that only has NAN data
cbc_15 = cbc_15.rename(columns={'LBXMCHSI':'LBXMC'})
cbc_15 = cbc_15.drop(columns='LBXMCH')

#Create complete cbc df
cbc_complete_df = pd.concat([cbc_99, cbc_01, cbc_03, cbc_05, 
                             cbc_07, cbc_09, cbc_11, cbc_13, cbc_15], sort=False).sort_values('SEQN')

In [3]:
alb_cr_99 = pd.read_sas('laboratory/LAB16.XPT')
alb_cr_01 = pd.read_sas('laboratory/L16_B.XPT')
alb_cr_03 = pd.read_sas('laboratory/L16_C.XPT')
alb_cr_05 = pd.read_sas('laboratory/ALB_CR_D.XPT')
alb_cr_07 = pd.read_sas('laboratory/ALB_CR_E.XPT')
alb_cr_09 = pd.read_sas('laboratory/ALB_CR_F.XPT')
alb_cr_11 = pd.read_sas('laboratory/ALB_CR_G.XPT')
alb_cr_13 = pd.read_sas('laboratory/ALB_CR_H.XPT')
alb_cr_15 = pd.read_sas('laboratory/ALB_CR_I.XPT')

In [38]:
# Need to transform dataframes up to 07 to add calculated urine albumin/cr ratio, it was pre-calculated after 09
# Need to multiply by  100 to change units from ug to mg URDACT = URXUMA/URXUCR x 100
# 2009 was the only year with a second collection 10 days after initial collection
# Therefore, the 2nd collection as like other dataframes was removed to remain consistent
alb_cr_99.loc[:, 'URDACT'] = alb_cr_99.loc[:,'URXUMA'] * 100/ alb_cr_99.loc[:, 'URXUCR']
alb_cr_01.loc[:, 'URDACT'] = alb_cr_01.loc[:,'URXUMA'] * 100/ alb_cr_01.loc[:, 'URXUCR']
alb_cr_03.loc[:, 'URDACT'] = alb_cr_03.loc[:,'URXUMA'] * 100/ alb_cr_03.loc[:, 'URXUCR']
alb_cr_05.loc[:, 'URDACT'] = alb_cr_05.loc[:,'URXUMA'] * 100/ alb_cr_05.loc[:, 'URXUCR']
alb_cr_07.loc[:, 'URDACT'] = alb_cr_07.loc[:,'URXUMA'] * 100/ alb_cr_07.loc[:, 'URXUCR']

In [71]:
# 2009 there needs to remove 2nd collection columns, please refer to original file if seeking
alb_cr_09_trim = alb_cr_09.iloc[:, :-5]
# Beginning in 2005, new naming convention for the SI, standardize names of prior columns as below
alb_rename = {"URXUMASI":'URXUMS', 'URXUCRSI':'URXCRS'}
alb_cr_99 = alb_cr_99.rename(columns=alb_rename)
alb_cr_01 = alb_cr_01.rename(columns=alb_rename)
alb_cr_03 = alb_cr_01.rename(columns=alb_rename)

# Removing the "lower limit of detection columns" in 2015 data, doesn't exist in any other set
alb_cr_15_trim = alb_cr_15.loc[:,['SEQN', 'URXUMA', 'URXUMS', 'URXUCR','URXCRS', 'URDACT']]

In [72]:
alb_dfs = [alb_cr_99, alb_cr_01,alb_cr_03, alb_cr_05,
           alb_cr_07,alb_cr_09_trim,alb_cr_11,alb_cr_13,alb_cr_15_trim]

In [75]:
alb_cr_complete_df = pd.concat(alb_dfs, sort=False)

In [98]:
# Biochemistry metobolic panel
cmp_99 = pd.read_sas('laboratory/LAB18.XPT')
cmp_01 = pd.read_sas('laboratory/L40_B.XPT')
cmp_03 = pd.read_sas('laboratory/L40_C.XPT')
cmp_05 = pd.read_sas('laboratory/BIOPRO_D.XPT')
cmp_07 = pd.read_sas('laboratory/BIOPRO_E.XPT')
cmp_09 = pd.read_sas('laboratory/BIOPRO_F.XPT')
cmp_11 = pd.read_sas('laboratory/BIOPRO_G.XPT')
cmp_13 = pd.read_sas('laboratory/BIOPRO_H.XPT')
cmp_15 = pd.read_sas('laboratory/BIOPRO_I.XPT')

In [97]:
# Need to remove hormone columns, should be in separate DF
#For all of biochemistry panel, included is triglycerides, we have separate DF for lipids
cmp_99 = cmp_99.iloc[:, :-4]

# --TODO -- 
# Determine if triglycerides should be included as separate, different column names
# Correct serum creatine for 99-00  Standard Creatinine (Y) = 1.013*NHANES Creatinine (X) + 0.147 (r = 0.984

AttributeError: 'Index' object has no attribute 'iloc'

In [105]:
lipid_complete_df.merge(cmp_99, on='SEQN').loc[:,['SEQN','LBXTR', 'LBDTRSI','LBXSTR','LBXSTRSI']]

# comparison of these two from the lipid s, shows similar but different values for TGA

/home/tom/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

        SEQN  LBXTR  LBDTRSI  LBXSTR  LBXSTRSI
0        2.0  128.0     1.45   115.0       NaN
1        5.0  347.0     3.92   341.0       NaN
2        6.0    NaN      NaN    49.0       NaN
3        7.0   62.0     0.70    57.0       NaN
4        8.0   33.0     0.37    29.0       NaN
5       10.0   45.0     0.51    42.0       NaN
6       11.0   76.0     0.86    72.0       NaN
7       12.0  146.0     1.65   140.0       NaN
8       13.0    NaN      NaN   322.0       NaN
9       14.0    NaN      NaN    67.0       NaN
10      15.0   54.0     0.61    67.0       NaN
11      16.0    NaN      NaN    42.0       NaN
12      20.0  117.0     1.32   110.0       NaN
13      21.0  120.0     1.35   107.0       NaN
14      22.0    NaN      NaN    61.0       NaN
15      23.0  171.0     1.93   162.0       NaN
16      24.0    NaN      NaN    75.0       NaN
17      25.0  202.0     2.28   184.0       NaN
18      26.0    NaN      NaN   115.0       NaN
19      27.0    NaN      NaN     NaN       NaN
20      28.0   52.0     0.59    43.0       NaN
21      29.0  167.0     1.89   170.0       NaN
22      31.0  128.0     1.45   118.0       NaN
23      33.0    NaN      NaN    94.0       NaN
24      34.0   97.0     1.10    97.0       NaN
25      40.0    NaN      NaN   232.0       NaN
26      42.0   62.0     0.70    53.0       NaN
27      44.0   47.0     0.53    44.0       NaN
28      45.0    NaN      NaN    84.0       NaN
29      46.0  122.0     1.38   120.0       NaN
...      ...    ...      ...     ...       ...
6728  9921.0  147.0     1.66   130.0       NaN
6729  9922.0    NaN      NaN    80.0       NaN
6730  9925.0  186.0     2.10   166.0       NaN
6731  9926.0   99.0     1.12    99.0       NaN
6732  9930.0    NaN      NaN   112.0       NaN
6733  9931.0    NaN      NaN   168.0       NaN
6734  9932.0   84.0     0.95    78.0       NaN
6735  9935.0    NaN      NaN   133.0       NaN
6736  9936.0   47.0     0.53    47.0       NaN
6737  9937.0    NaN      NaN   207.0       NaN
6738  9938.0    NaN      NaN   211.0       NaN
6739  9939.0  138.0     1.56   138.0       NaN
6740  9940.0  157.0     1.77   158.0       NaN
6741  9941.0    NaN      NaN    98.0       NaN
6742  9942.0  235.0     2.65   197.0       NaN
6743  9944.0  973.0    10.99   916.0       NaN
6744  9946.0    NaN      NaN    35.0       NaN
6745  9947.0    NaN      NaN   356.0       NaN
6746  9949.0    NaN      NaN    99.0       NaN
6747  9950.0   80.0     0.90    66.0       NaN
6748  9951.0   66.0     0.75    55.0       NaN
6749  9952.0   67.0     0.76    61.0       NaN
6750  9953.0    NaN      NaN    88.0       NaN
6751  9954.0    NaN      NaN    48.0       NaN
6752  9955.0    NaN      NaN    86.0       NaN
6753  9956.0    NaN      NaN   181.0       NaN
6754  9958.0    NaN      NaN    68.0       NaN
6755  9960.0  111.0     1.25   101.0       NaN
6756  9961.0  277.0     3.13   272.0       NaN
6757  9965.0    NaN      NaN   356.0       NaN

[6758 rows x 5 columns]